
<div class="banner-container">
  <div class="row">
    <div class="col-4">
    </div>
    <div class="col-4">
      <div class="hero-text">
        <h1><%= link_to "Clam's Blog", root_path, class: "blog-link" %></h1>
        <p>Musings about life and finance</p>
      </div>
    </div>
    <div class="col-4">
    </div>
  </div>
</div>

<div class="article-continer">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6">
      <div class="article-list">
        <% @articles.each do |article| %>
            <div class="article">
            <h3>► <%= link_to article.title, article, class: "article-link" %></h3>
            <%= article.subtitle %>
            </div> 
          <% end %>
        </div>
    </div>
    <div class="col-3">
    </div>
  </div>
</div>

<div class="new-button-container">
  <div class="col-3">
  </div>
  <div class="col-6">
  <%= link_to "New Article", new_article_path %>
  </div>
  <div class="col-3>
  </div>
</div>
